body {
    font-family: Verdana, Tahoma sans-serif;
    font-size: 16px;
}

input {
    display: block;
    margin-top: 15px;
    width: 250px;
    height: 30px;
}

input[type="checkbox"] {
    vertical-align: bottom;
    display: inline-block;
    width: 20px;
    height: 20px;
}

/*********** HEADER STYLE ***********/

h1 {
    font-size: 1.8em;
    color: #224364;
}

span {
    color: #5C5C5C;
}

/*********** MAIN STYLE ***********/

#wrapper {
    background-color: #EEEEEE;
    width: 700px;
    height: 450px;
}

#register {
    background-color: #EEEEEE;
    width: 260px;
    height: 260px;
    display: inline-block;
    margin: 30px;
    /*border: 2px solid black;*/
    float: left;
}

#register-button {
    background-color: #EEEEEE;
    margin-top: 10px;
    margin-right: 6px;
    float: right;
    border: 2px solid #234465;
    width: 150px;
    height: 30px;
}

#login {
    background-color: #234465;
    width: 280px;
    padding-left: 20px;

    height: 265px;
    display: inline-block;
    margin-top: 25px;
    /*border: 2px solid black;*/
    float: left;
}
#login>header>h2 {
    color: white;
}
#register-login-form:after {
    clear: both;
}