#wrapper {
    background-color: #00923E;
    margin: 20px;
    padding: 15px;
    width: 1000px;
}

tr,td{
    border: 1px solid;
    margin: 0 auto;
    height: 50px;
}

table,td {
    width: 995px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th {
    background-color: #F8C711;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    margin: 0 auto;
    height: 40px;
}

#rounded-top-left {
    border-top-left-radius: 15px;
}

#rounded-top-right {
    border-top-right-radius: 15px;
}

#rounded-bottom-left {
    border-bottom-left-radius: 15px;

}

#rounded-bottom-right {
    border-bottom-right-radius: 15px;
}

#brazil,#spain,#italy,#argentina,#rounded-bottom-left {
    text-align: right;
}

#brazil:after {
    background: url("../images/Brazil_flag.png") no-repeat;
    text-align: right;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    margin-right: 3px;
}

#spain:after {
    background: url("../images/Spain-Flag.jpg") no-repeat;
    text-align: right;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    margin-right: 3px;
}

#italy:after {
    background: url("../images/Italy.png") no-repeat;
    text-align: right;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    margin-right: 3px;
}

#argentina:after {
    background: url("../images/Argentina_flag.png") no-repeat;
    text-align: right;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    margin-right: 3px;
}

#rounded-bottom-left:after {
    background: url("../images/Germany.jpg") no-repeat;
    text-align: right;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    margin-right: 3px;
}

/*//////////////////////*/

#mexico:before {
    background: url("../images/Mexico.jpg") no-repeat;
    text-align: right;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    margin-left: 3px;
}

#netherlands:before {
    background: url("../images/netherland_flag.gif") no-repeat;
    text-align: right;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    margin-left: 3px;
}

#england:before {
    background: url("../images/England_flag.png") no-repeat;
    text-align: right;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    margin-left:  3px;
}

#bosna-herz:before {
    background: url("../images/Flag_of_Bosnia_and_Herzegovina.svg.png") no-repeat;
    text-align: right;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    margin-left: 3px;
}

#portugal:before {
    background: url("../images/Portugal_flag.png") no-repeat;
    text-align: right;
    background-size: 15px 10px;
    display: inline-block;
    width: 15px;
    height: 10px;
    content:"";
    margin-left:  3px;
}

.team {
    margin-left: 3px;
}

.right-align {
    text-align: right;
    margin-right: 3px;
}

tr:nth-child(2n+1) {
    background-color: white;
}
tr:nth-child(2n) {
    background-color: #C8C8C8;
}
button {
    display:block;
    width:35px;
    height:35px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #00923E;
    font-size:10px;
}

.btn-red {
    margin: auto;
    background-color: red;
}
.btn-green {
    margin: auto;
}

.group{
    text-align: center;
}
label {
    padding: 3px;
}

label:after {
    /*content:'\25BC';*/
    /*content:'\25BE';*/
    content:'\25BC';
    display:inline-block;
    color: #000;
    margin-left:-22px;
    pointer-events:none;
}
select {
    background-color: #DCDCDC;
    color: red;
    width: 30px;
    height: 30px;
}

.enable-choice {
    color: #00923E;
    width: 30px;
    height: 30px;
}
.inline-block {
    display: inline-block;
}