header>h1 {
    display: inline-block;
    margin:10px;
}
#img {
    float: right;
    width: auto;
    height: auto;
    margin: 4px;
    padding: 15px;
}
body {
    background-image: url("../images/background.png");
}

.listStyle,header {
    color: orange;
}
.listStyle h2 {
    color: white;
    display: inline-block;
}
div {
    border:#b9c6be 1px solid;
    color: #ffff3e;
    height: 50px;
    width: 1000px;

}