table,tr,td,th {
    border: 1px solid black;
}
td,th {
    width: 100px;
    height: 80px;
    padding: 5px;
}
th {
    font-size: 40px;
}

#nested-table {
    margin: 3px;
}
#nested-table>tbody>tr>td {
    height: 60px;
    font-weight: bold;
    text-align: center;
}
#top-left {
    vertical-align: top;
}
#top-right {
    text-align: right;
    vertical-align: top;
}
#top-center {
    text-align: center;
    vertical-align: top;
}
#bottom {
    vertical-align: bottom;
}
#bottom-right {
    text-align: right;
    vertical-align: bottom;
}
#bottom-left {
    vertical-align: bottom;
}
#right {
    text-align: right;
    font-weight: bold;
    font-size: 25px;
}