#wrapper {
    width: 280px;
    height: 401px;
    background-color: #FFA500;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 24px;
    padding-top: 5px;
}

#content{
    width: 260px;
    height: 390px;
    background-color: #89B426;
    border-radius: 29px;
    margin-left: 11px;
    margin-right: 9px;
}
label {
    color: white;
    margin-left: 97px;
    font-size: 0.5em;
}

/*label:before {*/
    /*content: "\2605";*/
    /*color: red;*/
/*}*/
#gender {
    width: 85px;
    height: 20px;
    background-color: #FFA500;
    border-radius: 8px;
    margin-left: 42px;
}
#country {
    width: 85px;
    height: 20px;
    background-color: #FFA500;
    border-radius: 8px;
    margin-left: 0px;
    margin-right: 20px;

}
#country1 {
    margin-left: 0px;
}
input {
    margin-left: 60px;
    display: block;
    width: 134px;
    height: 17px;
    text-align: center;
    border: solid #FFA500;
    border-radius:8px;
}


